[package]
name = "yt-game"
version = "0.1.0"
edition = "2021"

resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
winit = "0.26"
raw-window-handle = "0.4"
env_logger = "0.9"
log = "0.4"
wgpu = "0.13"
